<!DOCTYPE html>
<html>
<head>
</head>
<body>
<!--==== add remove input fields start====-->

<!--==== add remove input fields end====-->

<!---jquery library CDN--->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!---custom jquery link--->

</body>
</html>
<script>
   $(document).ready(function(){

// add input fields dynamically
var NewInputField=`<div class="new-input">
<input type="text" name='mobile[]' placeholder="Mobile Number"><button class="remove-input">X</button>
</div>`;
$(document).on('click','.add-new',function(e){
  e.preventDefault();
$(this).parents('.default-input').find('.new-input-area').append(NewInputField);
});

// remove input fields dynamically
$(document).on('click','.remove-input',function(e){
  e.preventDefault();
$(this).parent('.new-input').remove();
})

// add input field on pressing Enter Key
$(document).keydown(function (event) { 
     if (event.which == 13) { 
         event.preventDefault();
         $('.add-new').click(); 
         
     } 
    });


});
</script>